@import url(../css/tool.css);

@media screen and (max-width: 1200px) {

    .footer {
    padding: 40px 16px !important;
    }

    header {
        padding: 0px 16px;
    }

    .main_banner {
        padding: 0px 16px;
    }

    .container {
        padding: 0px 16px;
    }

    footer {
        padding: 0px 16px;
    }

}

@media screen and (max-width: 860px){
    .game_section {
        margin: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .game_button {
        justify-content: end;
    }

    .trust_section {
        padding: 40px;
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 40px;
}
}

body {
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08), 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
}

li {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 160px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav_fn {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #6D19E0;
    border-radius: 40px;
    gap: 4px;
    box-shadow: 0px 0px 4px 0px rgba(109, 25, 224, 0.40);
    background-color: white;
    width: 96px;
    height: 40px;
}

.login img {
    width: 18px;
}

.support {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}

.support img {
    width: 20px;
}

.main_banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/1;
}

.container {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.service_game {
    width: 100%;
    margin-top: 80px;
}

.main_title {
    padding-bottom: 16px;
}

.main_title img {
    height: 40px;
}

.service_game_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 24px;
}

.game_gird {
    background-color: #F2F2F3;
    border-radius: 12px;
}

.game_gird img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.game_section {
    /* margin: 24px 24px 40px 24px; */
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.game_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game_title span:nth-child(2){
    color: #999999;
}

.game_button {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.game_button img {
    width: 40px;
    height: 40px;
}

.sub_banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 80px 0px;
}

.sub_banner img {
    width: 100%;
    border-radius: 12px;
}

.new_trade {
    width: 100%;
    margin-bottom: 80px;
    }

.new_trade_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 24px;
}

.trade_gird img{
    width: 100%;
    border-radius:8px;
}

.trade_section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 24px 0px;
}

.trade_section :nth-child(3) {
    color: #B5B6B8;
}

.game_server {
    background-color: #6D19E0;
    color: white;
    border-radius: 4px;
    width: 60px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4px;
}

.time :nth-child(2) {
    color: #9D9EA1;
}

.time img {
    width: 16px;
    height: 16px;
}

.pagenation {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.pagenation img {
    width: 40px;
}

.small_banner {
    width: 100%;
    background-color: #336FE7;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.small_banner_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;
}

.small_banner img {
    width: 40px;
    height: 40px;
}

.banner_left_text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: white;
}

.small_banner_right {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.small_banner_right img{
    width: 24px;
    height: 24px;
}

.trust_t {
    width: 100%;
    margin-bottom: 80px;
    }

.trust_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 24px;
}

.trust_grid {
    border: 1px solid white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08), 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

.trust_section {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trust_section_left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.trust_section_left :nth-child(2) {
    color: #848689;
}

.trust_section_right img {
    width: 64px;
}

.notice {
    background-color: #F8F8F9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 24px 16px 24px 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.notice_left {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.notice_img img {
    width: 24px;
    margin-right: 16px;
}

.notice_right {
    display: flex;
    align-items: center;
}

.notice_right img {
    width: 24px;
}

footer {
    width: 100%;
    background-color: #0A0D14;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0px;
    gap: 24px;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_fnc {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.footer_fnc button {
    border: 1px solid white;
    color: white;
    background-color: #0A0D14;
    border-radius: 40px;
    padding: 4px 16px;
}

.company_text {
    color: #848689;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.copyright {
    color: white;
    margin-bottom: 16px;
}

.warning {
    color: #EBD0FD;
}

.footer_right {
    height: 200px;

}

.footer_right_top {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: white;
    margin-bottom: 8px;
}

.footer_right_top :nth-child(1) {
    color: #848689;
}

.footer_right_bottom {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer_kakao {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer_kakao img {
    width: 18px;
    height: 18px;
}

.footer_kakao :nth-child(1) {
    color: #848689;
}

.kakao_support {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: white;
    align-items: center;
}