@import url(../css/tool.css);

@media screen and (max-width: 1200px) and (min-width: 768px){
    body {
        padding: 0px 16px;
    }
}

header {
    width: 100%;
}

li {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 160px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav_fn {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #6D19E0;
    border-radius: 40px;
    gap: 4px;
    box-shadow: 0px 0px 4px 0px rgba(109, 25, 224, 0.40);
    background-color: white;
    width: 96px;
    height: 40px;
}

.login img {
    width: 18px;
}

.support {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}

.support img {
    width: 20px;
}

.main_banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/1;
}

.container {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.service_game {
    width: 100%;
    margin-top: 80px;
}

.main_title img {
    width: 433px;
}

.service_game_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 24px;
}

.game_gird {
    background-color: #F8F8F9;
    border-radius: 12px;
}

.game_gird img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.game_section {
    /* margin: 24px 24px 40px 24px; */
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.game_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game_title span:nth-child(2){
    color: #999999;
}

.game_button {
    display: flex;
    gap: 8px;
}

.game_button img {
    width: 40px;
    height: 40px;
}