@import url(../css/tool.css);


@media screen and (max-width: 768px) {
    body {
        padding: 0px 16px;
    }

    .user_login_off {
        font-size: 18px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: -0.35px;
    }

    .social_login_on {
        font-size: 18px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: -0.35px;
    }

    .line {
        max-width: 80px !important;
        width: 100%;
        border: 2px solid #6D19E0;
        border-radius: 40px;
    }

    .logo {
        width: 96px;
    }
}

.container {
    margin: 0 auto;
    max-width: 384px;
}

.wrapper {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
    height: 54px;
    align-items: center;
    justify-content: space-between;
}

.back {
    width: 40px;
    height: 40px;
    position: relative;
}

.logo {
    max-width: 120px;
    /* margin: 0 auto; */
}

.cancel {
    width: 40px;
    height: 40px;
    position: relative;
    visibility: hidden;
}

.login_style {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
}

.user_login_off {
    width: 100%;
    text-align: center;
    color: #CECED0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    max-width: 107px;
    width: 100%;
    border: 2px solid #6D19E0;
    border-radius: 40px;
}

.social_login_on {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.social_login {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

button {
    height: 54px;
    border: none;
    border-radius: 4px;
}

.N {
    background-color: #00C300;
    color:  white;
    background-image: url(../img/Naver.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: center;
    background-position-x: 24px;
}

.K {
    background-color: #FAE100;
    color:  black;
    background-image: url(../img/Kakao.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: center;
    background-position-x: 24px;
}

.A {
    background-color: black;
    color:  white;
    background-image: url(../img/Apple.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: center;
    background-position-x: 24px;
}

.G {
    background-color: white;
    color:  black;
    background-image: url(../img/Google.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-y: center;
    background-position-x: 24px;
    border: 1px solid #F2F2F3;
}

.signin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 80px;
    color: #9D9EA1;
}

.warning {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    color: #848689;
}

.warning img {
    width: 40px;
    height: 40px;
}