* {
    box-sizing: border-box;
    font-family: 'pretendard';
    caret-color: #6D19E0;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.35px;
}

body {
    margin: 0;
    width: 100%;
}

.accent_color {
    color: #6D19E0;
}

.bold {
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.regular {
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.caption {
    font-size: 12px;
}

.textSmall {
    font-size: 14px;
}

.textMedium {
    font-size: 16px;
}

.textLarge {
    font-size: 18px;
}

.titleSmall {
    font-size: 24px;
}

.titleMedium {
    font-size: 28px;
}

.titleLarge {
    font-size: 36px;
}

input::placeholder {
    color:#848689;
}

input:focus {
    outline: 2px solid #6D19E0;
    background-color: white;
}

input[type='checkbox']{
    display: none;
}

.checkbox_icon::before{
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/check_off.png);
    background-size: 24px;
    cursor: pointer;
}

.checkbox_label input:checked + .checkbox_icon::before{
    background: url(../img/check_on.png);
    background-size: 24px;
    border:none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #F2F2F3;
    border-radius: 40px;
    margin: 24px 0px;
}

select {
    appearance: none;
    background-image: url(/img/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 0px;
    background-position: center right 8px;
}






/* @@ ν—¤λ” @@ */

header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08), 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
    z-index: 9999;
}

li {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 180px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav_fn {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-left: 40px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #6D19E0;
    border-radius: 40px;
    gap: 4px;
    box-shadow: 0px 0px 4px 0px rgba(109, 25, 224, 0.40);
    background-color: white;
    width: 96px;
    height: 40px;
}

.login img {
    width: 18px;
}

.support {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}

.support img {
    width: 20px;
}

.ham_menu img{
    display: none;
}

.headerM {
    width: 100%;
    margin-bottom: 24px;
    display: none;
    position: sticky;
    top: 0;
    background-color: white;
    height: 54px;
    z-index: 999;
}

.header1 {
    display: flex;
    flex-direction: row;
    max-width: 588px;
    height: 54px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.back {
    max-width: 40px;
    max-height: 40px;
}

.cancel {
    max-width: 40px;
    max-height: 40px;
    visibility: hidden;
}

.op2 {
    opacity: 0.2;
}

.op4 {
    opacity: 0.4;
}


@media screen and (max-width: 768px) and (min-width:320px){

    header {
        display: none ;
    }

    .logo img {
        width: 80px ;
    }

    .nav_menu {
        display: none ;
    }

    .nav_fn {
        display: none ;
    }

    .ham_menu img {
        display: block ;
        width: 24px;
        height: 24px;
    }

    .header1 {
        max-width: 768px ;
    }

    .header {
        display: none ;
    }

    .headerM{
        display: block ;
    }

}



/* @@ ν‘Έν„° @@ */

footer {
    width: 100%;
    background-color: #0A0D14;
    margin-top: 80px;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.footer_support_top {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4px;
    margin-bottom: 16px;
}

.footer_support_top :nth-child(1) {
    color: #848689;
}

.footer_support_bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer_kakao {
    display: flex;
    flex-direction: column;
}

.footer_kakao img {
    width: 18px;
    height: 18px;
}

.footer_kakao :nth-child(1) {
    color: #848689;
}

.kakao_support {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: white;
    align-items: center;
    margin-top: 8px;
}

.line_B {
    width: 100%;
    height: 1px;
    background-color: #3B3D43;
    border-radius: 40px;
    margin: 24px 0px;
}

.footer_fnc {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.footer_fnc button {
    border: 1px solid white;
    color: white;
    background-color: #0A0D14;
    border-radius: 40px;
    padding: 4px 16px;
}

.company_text {
    color: #848689;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.copyright {
    color: white;
    margin-bottom: 16px;
}

.warning {
    color: #EBD0FD;
}
