* {
    box-sizing: border-box;
    font-family: 'pretendard';
    caret-color: #6D19E0;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.35px;
}

body {
    margin: 0;
    width: 100%;
}

.accent_color {
    color: #6D19E0;
}

.bold {
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.regular {
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.35px;
}

.caption {
    font-size: 12px;
}

.textSmall {
    font-size: 14px;
}

.textMedium {
    font-size: 16px;
}

.textLarge {
    font-size: 18px;
}

.titleSmall {
    font-size: 24px;
}

.titleMedium {
    font-size: 28px;
}

.titleLarge {
    font-size: 36px;
}

input::placeholder {
    color:#848689;
}

input:focus {
    outline: 2px solid #6D19E0;
    background-color: white;
}

input[type='checkbox']{
    display: none;
}

.checkbox_icon::before{
    content:'';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/check_off.png);
    background-size: 24px;
    cursor: pointer;
}

.checkbox_label input:checked + .checkbox_icon::before{
    background: url(../img/check_on.png);
    background-size: 24px;
    border:none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #F2F2F3;
    border-radius: 40px;
    margin: 24px 0px;
}

select {
    appearance: none;
    background-image: url(/img/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-size: 24px;
    margin-right: 0px;
    background-position: center right 8px;
}




footer {
    width: 100%;
    background-color: #0A0D14;
    margin-top: 80px;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.footer_support_top {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 4px;
    margin-bottom: 16px;
}

.footer_support_top :nth-child(1) {
    color: #848689;
}

.footer_support_bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.footer_kakao {
    display: flex;
    flex-direction: column;
}

.footer_kakao img {
    width: 18px;
    height: 18px;
}

.footer_kakao :nth-child(1) {
    color: #848689;
}

.kakao_support {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: white;
    align-items: center;
    margin-top: 8px;
}

.line_B {
    width: 100%;
    height: 1px;
    background-color: #3B3D43;
    border-radius: 40px;
    margin: 24px 0px;
}

.footer_fnc {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 24px;
    flex-wrap: wrap;
}

.footer_fnc button {
    border: 1px solid white;
    color: white;
    background-color: #0A0D14;
    border-radius: 40px;
    padding: 4px 16px;
}

.company_text {
    color: #848689;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.copyright {
    color: white;
    margin-bottom: 16px;
}

.warning {
    color: #EBD0FD;
}
